html,
body {
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 0;
    position: relative;
    width: 320px;
    height: 260px;
    border: 1px solid #333;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    height: calc(100% - 34px);
}

header img {
    width: 100%;
    height: 100%;
}

.bottom-stripe {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16px;
    line-height: 16px;
}

footer {
    background: red;
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

a {
    margin: 5px 3px;
    /*background: red;*/
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    white-space: nowrap;
    padding: 2px 4px 4px 4px;
    font-size: 12px;
    text-decoration: none;
}

svg {
    vertical-align: middle;
    width: 16px;
    height: 15px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(122, 122, 122, .8);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: #fff;
}

.overlay .icon-close {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 24px;
    height: 24px;
}

.overlay .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.centered div {
    text-align: center;
    font-size: 16px;
}

.icon {
    display: inline-block;
    margin: 16px 16px 0 16px;
}

.icon svg {
    width: 32px;
    height: 32px;
}

div.coupon-code {
    background: rgb(255, 56, 35);
    border-radius: 4px;
    border: 1px solid white;
    font-size: 14px;
    height: 34px;
    width: 226px;
    margin-top: 4px;
    margin-bottom: 18px;
    line-height: 34px;
}